.card {
  border: var(--border);
  border-color: var(--color--accent);
  transition: transform 1s ease-in-out;
  transform: scale(1);

  &__title {
    margin: 0;
    text-align: center;
    height: 10%;
    background-color: rgb(37, 5, 67);
  }
  &__image {
    height: 90%;
  }
}
.card:hover {
  transform: scale(1.05);
}
